nav {
  max-width: 100%;
  background-color: var(--secondary-color);
  transition: all 0.5s ease-in-out;
}

nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.Navbar {
  padding: 0 3rem;
  display: flex;
  height: 6.4rem;
  min-width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.Navbar img {
  width: 6rem;
}

.Navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

li a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 1.5rem;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  display: inline-block;
  transition: all 0.5s ease;
}

.Navlinks {
  display: flex;
  align-items: center;
}

.Navbuttons {
  text-align: center;
  margin-left: 1rem;
}

.Navlink:hover {
  background-color: var(--link-hover-color);
}

li a:link,
li a:active,
li a:visited {
  text-decoration: none;
  color: var(--primary-color);
}

li a:hover {
  color: var(--orange-color);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--primary-color);
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .Navlinks {
    position: absolute;
    top: 6.4rem;
    left: 0;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    z-index: 9;
  }

  .Navlinks.open {
    max-height: 400px;
    padding-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .Navlinks ul {
    flex-direction: column;
  }

  .Navbuttons {
    margin-top: 1rem;
  }

  .Navbar {
    padding: 0 1rem;
  }
}
