.testimonial-content {
  min-width: 90%;
  height: 50rem;
  padding: 1rem 5rem;
  background-color: #fff;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  animation: slide 7s ease infinite;
  transform: translateX(5%);
  backface-visibility: hidden;
  animation-fill-mode: both;
}
.testimonial-description {
  flex-basis: 60%;
}

.testimonial-image {
  display: flex;
  flex-basis: 40%;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.testimonial-image img {
  width: 70%;
  height: 80%;

  border-radius: 2rem;
  object-fit: cover;
  margin-top: -2rem;
}

/* .testimonial-image:last-child img {
  object-fit: contain;
} */

.testimonial-description p {
  font-size: 3.2rem;
  color: #202121;
  font-weight: 500;
  padding-bottom: 2rem;
}

.testimonial-description h3 {
  font-size: 1.5rem;
  line-height: 2;
  color: #2d2d2d;
  font-weight: 500;
}

.testimonial-author {
  padding-top: 4rem;
}

.testimonial-author span {
  display: block;
}

.testimonial-name {
  color: var(--orange-color);
  font-weight: 600;
  font-size: 2rem;
}

.testimonial-position {
  color: #333232;
  font-size: 2rem;
  font-weight: 500;
}

@keyframes slide {
  0% {
    transform: translateX(5%);
  }
  33% {
    transform: translateX(-100%);
  }
  66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(5%);
  }
}

@media (max-width: 1200px) {
  .testimonial-image img {
    height: 80%;
    width: 90%;
  }
}
@media (max-width: 1064px) {
  .testimonial-content {
    height: 65vh !important;
    flex-direction: row;
    padding: 2rem;
    text-align: start;
  }

  .testimonial-description {
    flex-basis: auto;
    width: 70%;
  }

  .testimonial-image {
    width: 30%;

    padding-bottom: 2rem;
    align-items: center;
  }

  .testimonial-image img {
    height: 70%;
    width: 85%;
  }

  .testimonial-description p {
    font-size: 2.5rem;
  }

  .testimonial-description h3 {
    font-size: 1.3rem;
  }

  .testimonial-name,
  .testimonial-position {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .testimonial-author {
    padding: 2rem 0 3rem;
  }
  .testimonial-content {
    width: 100%;
    height: fit-content !important;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    border-radius: 0;
    animation: none;
  }

  .testimonial-description {
    padding: 0 2rem;
    width: 100%;
    order: 1;
    padding-top: 2rem;
  }
  .testimonial-image {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
  }
  .testimonial-image img {
    height: 40vh;
    width: 70%;
    object-fit: conver;
    transform: translateY(10px);
    object-position: 50% 35%;
  }
}

@media (max-width: 480px) {
  .testimonial-author {
    padding: 2rem 0 3rem;
  }
  .testimonial-content {
    padding: 1rem;
  }

  .testimonial-description p {
    font-size: 2rem;
  }

  .testimonial-description h3 {
    font-size: 1.1rem;
  }

  .testimonial-name,
  .testimonial-position {
    font-size: 1.2rem;
  }

  .testimonial-image {
    height: 30vh;
  }
}
