.testimonial-content {
  min-width: 90%;
  height: 50rem;
  padding: 1rem 5rem;
  background-color: #fff;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  animation: slide 7s ease infinite;
  transform: translateX(5%);
  backface-visibility: hidden;
  animation-fill-mode: both;
}
.testimonial-description {
  flex-basis: 60%;
}

.testimonial-image {
  display: flex;
  flex-basis: 40%;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.testimonial-image img {
  width: 70%;
  height: 80%;

  border-radius: 2rem;
  object-fit: cover;
  margin-top: -2rem;
}

/* .testimonial-image:last-child img {
  object-fit: contain;
} */

.testimonial-description p {
  font-size: 3.2rem;
  color: #202121;
  font-weight: 500;
  padding-bottom: 2rem;
}

.testimonial-description h3 {
  font-size: 1.5rem;
  line-height: 2;
  color: #2d2d2d;
  font-weight: 500;
}

.testimonial-author {
  padding-top: 4rem;
}

.testimonial-author span {
  display: block;
}

.testimonial-name {
  color: var(--orange-color);
  font-weight: 600;
  font-size: 2rem;
}

.testimonial-position {
  color: #333232;
  font-size: 2rem;
  font-weight: 500;
}

@keyframes slide {
  0% {
    transform: translateX(5%);
  }
  33% {
    transform: translateX(-100%);
  }
  66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(5%);
  }
}

@media (max-width: 1200px) {
  .testimonial-image img {
    width: 80%;
  }
}
@media (max-width: 1024px) {
  .testimonial-content {
    flex-direction: column-reverse;
    padding: 2rem;
    text-align: center;
  }

  .testimonial-description {
    flex-basis: auto;
    width: 100%;
  }

  .testimonial-image {
    flex-basis: auto;
    width: 50%;
    height: 40vh;
    align-items: stretch;
    margin-bottom: 2rem;
    align-items: center;
  }

  .testimonial-description p {
    font-size: 2.5rem;
  }

  .testimonial-description h3 {
    font-size: 1.3rem;
  }

  .testimonial-name,
  .testimonial-position {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .testimonial-content {
    padding: 1rem;
  }

  .testimonial-description p {
    font-size: 2rem;
  }

  .testimonial-description h3 {
    font-size: 1.1rem;
  }

  .testimonial-name,
  .testimonial-position {
    font-size: 1.2rem;
  }

  .testimonial-image {
    height: 30vh;
  }
}
