section + #contact {
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 6rem;
}

.contact-main {
  background-color: var(--primary-color);
  width: 1400px;
  padding: 3rem 7rem;
  padding-bottom: 0;
  display: flex;
  column-gap: 10rem;
  justify-content: space-between;
}

.contact-fig {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: baseline;
}

.contact-fig h2 {
  font-size: 4rem;
  color: var(--secondary-color);
  padding-bottom: 3rem;
}

.contact-fig figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-fig figure img {
  width: 100%;
  height: auto;
}

.contact-detail {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  padding-top: 1rem;
}

@media (max-width: 1400px) {
  section + #contact {
    padding-bottom: 0;
  }
}
/* Responsive Styles */
@media (max-width: 1200px) {
  .contact-main {
    width: 100%;
    padding: 3rem 4rem;
    column-gap: 5rem;
    flex-direction: column;
    align-items: center;
  }

  .contact-fig {
    align-items: center;
    text-align: center;
  }

  .contact-fig h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
  }

  .contact-fig figure img {
    width: 90%;
    height: auto;
    margin-left: 10%;
  }

  .contact-detail {
    width: 100%;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .contact-main {
    padding: 2rem;
  }

  .contact-fig h2 {
    font-size: 2.5rem;
  }

  .contact-fig figure img {
    height: 20rem;
  }

  .contact-detail {
    width: 60%;
    padding: 1.5rem 0;
  }
}

@media (max-width: 480px) {
  .contact-fig h2 {
    font-size: 2rem;
  }

  .contact-fig figure img {
    height: 15rem;
  }

  .contact-detail {
    padding: 1rem 0;
  }
}
