#customersection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.customer {
  max-width: 1400px;
  padding: 5rem 0;
  text-align: center;
}

.customer h2 {
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: 600;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 125px);
  grid-template-rows: repeat(5, 1fr); /* or auto */
  row-gap: 3rem;
  column-gap: 3rem; /* space between cells */
  padding: 2rem;
  padding-top: 5rem;
}
