#customersection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.customer {
  max-width: 100%;
  padding: 5rem 0;
  text-align: center;
}

.customer h2 {
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: 600;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 125px);
  grid-template-rows: repeat(5, 1fr); /* or auto */
  row-gap: 3rem;
  column-gap: 3rem; /* space between cells */
  padding: 2rem;
  padding-top: 5rem;
}

/* Responsive Grid Adjustments */
@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 2rem;
    justify-items: center;
  }

  .customer h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    padding: 1.5rem;
    row-gap: 1.5rem;
  }

  .customer h2 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;
  }

  .customer h2 {
    font-size: 1.6rem;
  }
}
