#footer-section {
  width: 100%;
  background-color: #edebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 100%;
  display: flex;
  padding: 0 2rem;
  padding-bottom: 7rem;
  justify-content: space-between;
}

.footer-contant {
  display: flex;
  width: 60%;
  gap: 9rem;
  padding-top: 6rem;
  align-self: flex-start;
  justify-content: end;
  margin-right: 6rem;
}

.footer-description figure img {
  height: 20rem;

  width: 20rem;
}

.footer-building-bharat h2,
.footer-program h2,
.footer-follow-us h2 {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 600;
}

.footer-building-bharat ul,
.footer-program ul,
.footer-follow-us ul {
  list-style: none;
}

.footer-des-contant {
  margin-left: 5rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.footer-des-contant p span {
  display: block;
  font-weight: 500;
}

.footer-des-contant p {
  line-height: 2;
}

.phone {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: start;
}

.footer-building-bharat li a,
.footer-program li a,
.footer-follow-us li a {
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  color: #2a2b2b;
  padding: 0.5rem 0;
  font-weight: 500;
}

.footer-building-bharat li a:link,
.footer-building-bharat li a:visited,
.footer-building-bharat li a:active {
  text-decoration: none;
  color: #2a2b2b;
}
.footer-program
  li
  a:link
  .footer-program
  li
  a:visited
  .footer-program
  li
  a:active {
  text-decoration: none;
  color: #2a2b2b;
}
.footer-follow-us
  li
  a
  :link
  .footer-follow-us
  li
  a
  :visited
  .footer-follow-us
  li
  a
  :active {
  text-decoration: none;
  color: #2a2b2b;
}

.footer-follow-us ul li {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.footer-follow-us-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon {
  font-size: 2rem;
}

@media (max-width: 1024px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
    gap: 3rem;
  }

  .footer-contant {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 2rem 0;
    gap: 4rem;
  }

  .footer-des-contant {
    margin: 0;
    align-items: center;
    text-align: center;
  }

  .footer-description figure img {
    height: 15rem;
    width: 15rem;
  }
}

@media (max-width: 768px) {
  .footer-contant {
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .footer-description {
    display: flex;
    gap: 3rem;
    padding: 3rem;
    align-items: center;
    justify-content: start;
  }

  .footer-building-bharat,
  .footer-program,
  .footer-follow-us {
    width: 30%;
  }

  .footer-building-bharat h2,
  .footer-program h2,
  .footer-follow-us h2 {
    font-size: 1.6rem;
  }

  .footer-building-bharat li a,
  .footer-program li a,
  .footer-follow-us li a {
    font-size: 1.3rem;
  }

  .footer-des-contant {
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
  .footer-contant {
    align-items: self-start;
    justify-content: center;
  }
  .footer-description {
    padding: 3rem 0;
  }
  .footer-description figure img {
    height: 12rem;
    width: 12rem;
  }

  .footer-building-bharat h2,
  .footer-program h2,
  .footer-follow-us h2 {
    text-align: start;
    font-size: 1.5rem;
  }

  .footer-building-bharat li a,
  .footer-program li a,
  .footer-follow-us li a {
    font-size: 1.2rem;
    padding: 0.3rem 0;
  }

  .footer-building-bharat,
  .footer-program,
  .footer-follow-us {
    flex-basis: 25%;
    text-align: start;
  }

  .footer-des-contant {
    font-size: 1.2rem;
    padding: 0 1rem;
  }

  .phone {
    justify-content: center;
  }
}
