section {
  width: 100%;
  background-color: whitesmoke;
}

.hero-section {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 8rem 3rem;
}

.hero-description {
  width: 50%;
}

.hero-description h1 {
  font-size: 4.8rem;
  color: var(--primary-color);
  line-height: 1.2;
  font-weight: 600;
  font-style: normal;

  margin-bottom: 3rem;
}

.hero-description p {
  line-height: 1.5;
  font-size: 1.8rem;
  color: #282727;
  font-style: normal;
  font-weight: 400;
}

.hero-description button {
  margin-top: 5rem;
}

.hero-buttons div {
  display: inline-block;
  margin-right: 3rem;
}

.hero-figure {
  margin: 0 auto;
}

.center-name {
  width: 100%;
  text-align: center;
}

.center-name span {
  display: block;
  font-size: 9rem;
}

.center-building {
  color: var(--primary-color);
  font-weight: 500;
}

.center-bharat {
  margin-top: -2rem;
  color: var(--orange-color);
  font-weight: 600;
}

@media (max-width: 1024px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    gap: 4rem;
    padding: 6rem 2rem;
  }

  .hero-description {
    width: 100%;
    order: 1;
  }

  .hero-figure {
    width: 100%;
  }

  .hero-buttons div {
    margin-right: 1rem;
  }

  .center-name span {
    font-size: 7rem;
  }
}

@media (max-width: 768px) {
  .hero-description h1 {
    font-size: 3.5rem;
  }

  .hero-description p {
    font-size: 1.6rem;
  }

  .hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .center-name span {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .hero-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-description h1 {
    font-size: 2.8rem;
  }

  .hero-description p {
    width: 60%;
    font-size: 1.4rem;
    padding-bottom: 2rem;
  }

  .center-name span {
    font-size: 3.5rem;
  }

  .hero-section {
    padding: 4rem 1rem;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
  }

  .hero-buttons div {
    width: 80%;
  }

  .hero-buttons div button {
    margin-top: 0;
  }
}
