section {
  width: 100%;
  background-color: whitesmoke;
}

.hero-section {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 8rem 2rem;
}

.hero-description {
  width: 50%;
}

.hero-description h1 {
  font-size: 4.8rem;
  color: var(--primary-color);
  line-height: 1.2;
  font-weight: 600;
  font-style: normal;

  margin-bottom: 3rem;
}

.hero-description p {
  line-height: 1.5;
  font-size: 1.8rem;
  color: #282727;
  font-style: normal;
  font-weight: 400;
}

.hero-description button {
  margin-top: 5rem;
}

.hero-buttons div {
  display: inline-block;
  margin-right: 3rem;
}

.hero-figure {
  margin: 0 auto;
}

.center-name {
  width: 100%;
  text-align: center;
}

.center-name span {
  display: block;
  font-size: 9rem;
}

.center-building {
  color: var(--primary-color);
  font-weight: 500;
}

.center-bharat {
  margin-top: -2rem;
  color: var(--orange-color);
  font-weight: 600;
}
