section + #Info-section {
  width: 100%;
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Info {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}

.Info h2 {
  font-size: 2.9rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

.Info p {
  font-size: 1.6rem;
  color: #f4f8f8;
  padding-bottom: 4rem;
}
