#layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  padding-bottom: 0rem;
}

.layout-section {
  padding: 5rem 0;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.layout-section h2 {
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.layout-section p {
  font-size: 1.7rem;
  color: #555656;
}

.layout-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 6rem;
}

.layout-process {
  padding-top: 5rem;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.layout-process h2 {
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.layout-process p {
  font-size: 1.7rem;
  color: #555656;
}

.layout-process-flow {
  padding: 7rem 0rem;
  padding-bottom: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1024px) {
  .layout-cards {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .layout-section p,
  .layout-process p {
    font-size: 1.5rem;
    padding: 0 1rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  #layout {
    padding: 2rem;
  }

  .layout-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }

  .layout-section h2,
  .layout-process h2 {
    font-size: 2.3rem;
    padding: 0 1rem;
  }

  .layout-section p,
  .layout-process p {
    font-size: 1.4rem;
  }

  .layout-process-flow {
    padding: 4rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .layout-cards {
    display: flex;
    flex-direction: column;
  }
  .layout-section h2,
  .layout-process h2 {
    font-size: 2rem;
  }

  .layout-section p,
  .layout-process p {
    font-size: 1.3rem;
  }
}
