.testimonial-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-section h2 {
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.testimonial-card {
  width: 100%;
  margin: 3rem 0;
  position: relative;
  overflow: hidden;
}

.testimonial {
  display: flex;
  gap: 4rem;
  width: 100%;
  align-items: center;
}

@media (max-width: 1024px) {
  .testimonial-card {
    height: 50vh;
  }

  .testimonial {
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .testimonial-card {
    overflow-x: auto;
  }

  .testimonial-content {
    scroll-snap-align: start;
    height: inherit;
  }

  .testimonial-section h2 {
    font-size: 2.5rem;
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {
  .testimonial-section h2 {
    font-size: 2.2rem;
  }

  .testimonial {
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .testimonial-section h2 {
    font-size: 2rem;
  }
}
